@import url(/node_modules/@fortawesome/fontawesome-free/css/all.min.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  padding-left: 1rem;
  background-color: #44a080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eee;
  height: 8rem;
}

h1 {
  font-size: 1.2rem;
}

nav {
  padding-right: 1rem;
  font-size: 0.8rem;
}

ul {
  list-style: none;
}

ul.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  column-gap: 0.5rem;
}

.link-to-form {
  color: #eee;
  height: 5rem;
  background-color: #49a749d7;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

.products-buyed {
  padding-right: 1rem;
}

.list {
  flex: 1;
  background: rgb(207, 129, 4);
  padding: 1rem;
}

.fa-square {
  color: #eee;
}

.list__products {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.list__products li {
  text-align: left;
}

.list__products-container--ul > li:nth-child(2n + 1) {
  text-decoration: line-through;
}

.list__products-item {
  padding-left: 1rem;
}

.list__prices > li:nth-child(2) {
  text-align: right;
}

.list__prices > li:nth-child(2n + 1) {
  text-decoration: line-through;
}

.list__total {
  font-size: 1.2rem;
  padding-top: 1rem;
  text-align: right;
}

.form {
  flex: 1;
  background: rgb(207, 129, 4);
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.form__input--name-container {
  width: 50%;
}

.form__input--price-container {
  width: 50%;
}
button {
  width: 20%;
  background-color: #44a080;
  border: none;
  padding: 0.5rem;
}
